<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Facebook Video Downloader</title>
</head>

<body>
    <div>
        <main>
            <h1>Facebook Video Downloader</h1>
            <p>
                <form action="/download" method="post">
                    <input type="text" placeholder="Enter video url here" name="url">
                    <button type="submit">Download</button>
                </form>
            </p>
        </main>
    </div>
</body>

</html>
